/*
* {
    border: 1px solid green;
}
*/

.upper_nav_bar {
    display: block;
    height: 30px;
    width: 800px;
    margin: 0px auto;
}

ul.upper_nav_bar div {
    float: right;
}

ul.upper_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.upper_nav_bar li {
    display: inline;
    margin-left: 5px
}

ul.upper_nav_bar li a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-size: .8em;
}

.content {
    display: block;
    height: 500px;
    width: 800px;
    margin: 180px auto;
        
/*    background8color: whitesmoke;*/
/*    border: 5px solid orange;    */
}

.logo, .search_form, .language_select {
    display: block;
    margin: auto;
}

.logo {
    height: 100px;
    width: 400px;
    margin-top: 20px;
/*    margin-bottom: 10px;*/
    
    
/*    background-color: green;*/
}

.logo img {
    width: 270px;
    display: block;
    margin: 0 auto;
}

.logo p{
    font-family: sans-serif;
    font-weight: bold;
    color: dimgray;
    position: relative;
    top: -35px;
    left: 285px;
}

.search_form {
    height: 100px;
    width: 500px;
    margin-top: 25px;

/*    background-color: yellow;*/
}

input.search_field {
/*    position: relative;*/
/*    left: -80px;*/
/*    display: block;*/
/*    width: 300px;*/
    width: 500px;
    height: 2em;
/*    margin: ;*/
    
}

input.search_button, input.lucky_button {
    display: inline-block;
    margin: 15px auto;
    
/*    font-weight: bold;*/
    height: 2.5em;
    font-size: .75em;
    border-radius: 3px;
    background-color: lightgrey;
    border: 2px silver solid;

}

input.search_button:hover, input.lucky_button:hover {
    border-style: ridge;   
}

input.search_button {
    margin-left: 150px;
}

input.lucky_button {
    margin-left: 10px;
}



.language_select {
/*    height: 50px;*/
    width: 200px;
/*    margin-top: 5px;*/
    
    
/*    background-color: red;*/
}

.language_select p {
    font-family: sans-serif;
    font-size: .8em;
    color: #000000;
    text-align: center;
}

.language_select a {
    text-decoration: none;
    color: blue
}

.lower_nav_bar {
    display: block;
    height: 30px;
    width: 800px;
    margin: 0px auto;
    background-color: lightgray
}

ul.lower_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;

/*    margin-left: 750px;*/
}

ul.lower_nav_bar li {
    display: inline;
    margin-left: 30px
}

a#last {
    margin-right: 30px;
}

ul.lower_nav_bar li a {
    font-family: sans-serif;
    text-decoration: none;
    color: dimgray;
    font-size: .8em;
    
}

ul.lower_nav_bar .left_links {
    float: left;
}

ul.lower_nav_bar .right_links {
    float: right;
}

a.text_link:hover {
    text-decoration: underline;
}